* {
	box-sizing: border-box;
}
body {
    font: 100 14px Helvetica, Arial, sans-serif;
}

section { padding: 25px 50px; }
#calculator {
    width: 325px;
    height: 480px;
    background-color: #d0d1d3;
    border-radius: 5px;
    border: 1px solid #000000;
    text-align: center;
    padding: 3px;
    font: 100 14px Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
.input-screen {
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    font-size: 60px;
    padding: 30px 15px;
    user-select: none;
    text-align: right;
    min-height: 60px;
}
#keypad {
    width: 100%;
    text-align: center;
    margin-top: 2px;
}
#keypad div {
    font: 100 30px Helvetica, Arial, sans-serif;
    float: left;
    border: 1px solid #808080;
    width: 76.75px;
    margin: 1px;
    line-height: 222%;
    cursor: pointer;
    user-select: none;
}
#keypad div:hover {
    background-color: #c5c7c9;
}
#keypad div.zero-key {
    width: 157.5px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #keypad div.zero-key {
    width: 155.5px; /* fix for webkit browsers */
  }
  .input-screen {
     min-height: 120px;
  }
  #keypad div {
    line-height: 217%;
  }
}
.key-orange {
    background-color: #f89212;
    color: #ffffff;
}
#keypad div.key-orange:hover {
 background-color: #f89224;
}
#keypad div.key-darker-gray {
    background-color: #c5c7c9;
}